@import '../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap';

:host {
  display: block;
}

.navbar-default {
  background-color: #fff;
  border-color: #fff;
  height: 63px;
  padding: auto 15px;
  .container-fluid {
    padding: 0 2.5em;
    .navbar-brand {
      img {
        display: block;
        height: 34px;
        width: 189px;
      }
    }
    ul {
      padding-top: .5em;
      li {
        a {
          color: #aaa;
          font: {
            size: .85em;
            weight: bold;
          }
          &:hover {
            background-color: #fff;
            color: #585a5b;
          }
          &.btn {
            background-color: #278998;
            color: #fff;
            transition: background 0.2s ease-in-out,color 0.2s ease-in-out;
            text-transform: uppercase;
            border-radius: 100px;
            font-size: 70%;
            padding: 0 2.5em;
            line-height: 3.5em;
          }
        }
      }
    }
  }
}
